:root {
  /* Use with var(--sea-blue) */

  /* Colors */
  --seaBlue: #31aab7;
  --midnight: #023047;
  --sunshine: #ffb703;
  --sunset: #fb8500;
  --skyBlue: #8ecae6;

  /* Layout */
  /* --gap: 40px; */
}

#root {
  display: flex;
  height: 100%;
  width: 100%;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

html,
body {
  height: 100%;
  margin: 0;
  line-height: 1.5;
  color: #121212;
}

body {
  margin: auto;
}
